
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Source sans Pro", sans-serif,
}

body {
    max-width:140px;
    margin:0 auto;
    padding, 0 20px;
    font-family:"Source Sans pro",sans-serif;
    }
    
    main {
	    padding:0 20px;
    }
    
    .bold {
	    font-weight:bold;
    }

    .italic {
	    font-style:italic;
    }

    header {
	    background-color:transparent;
	    display:flex;
	    align-items: center;
	    justify-content:space-between;
	    padding: 30px 170px;
	    width:100%;
	    max-width:140px;
	    margin:0 auto;
	    z-index:1000;
	    box-sizing:border-box;
	    position:absolute;
    } 

