*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	font-family:'Source Sans Pro', sans-serif;
}
header {
	position:absolute;
	top:35px;
	left:0;
	right:0;
	z-index:100;
	display:flex;
	justify-content: space-between;
	align-items:center;



